# Node.js
node_modules/

# npm package logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
/dist/
/build/

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage/

# IDEs
.vscode/
/.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv environment variable files
.env
.env.test
.env.production

# Tyepscript
*.tsbuildinfo

# Next.js
.next/

# Vue.js
*.local

# React Native
.expo/

# Svelte
.svelte/

# Webpack
/webpack/

package-lock.json